{% extends 'base.html' %} {% block head %}
<title>Welcome to BlogApp</title>
{% endblock %} {% block body %}

<div>
  <div
    class="jumbotron m-5"
  >
    <h1 class="display-4" class="alert alert-dark">Hello All</h1>
    <p class="lead" class="alert alert-dark">This is a simple Blogging App</p>
    <p class="alert alert-dark">
      Anyone can start a blog, but the real test is getting readers.
    </p>
    <a class="btn btn-primary btn-lg" href="/posts" role="button">Posts</a>
  </div>
</div>

{% endblock %}
