{% extends 'base.html' %} {% block head %}
<title>Login html</title>
{% endblock %} {% block body %}

<form action="/login" method="POST" style="width: 400px; margin: 40px">
  <h1 class="alert alert-dark">Login Form</h1>

  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" name="Password" id="Password" />
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
  {% if error %}
  <div class="alert alert-danger m-5" role="alert">
    Incorrect Username or Password
  </div>
  {% endif %}
</form>

{% endblock %}
