{% extends 'base.html' %} {% block head %}
<title>Posts</title>
<style type="text/css">
  .button {
    background: url(like.jpg) no-repeat;
    cursor: pointer;
    border: none;
  }
</style>
{% endblock %} {% block body %}
<h1>All posts</h1>
<hr />

{% for post in posts %}
<div>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h2 class="text-uppercase">{{ post.title }}</h2>
    {% if post.author %}
    <h3 class="badge badge-pill badge-dark">By: {{ post.author}}</h3>
    {% else %}
    <h3>By:author unknown</h3>
    {% endif %}
    <p>{{ post.content|safe }}</p>
    <div class="alert alert-primary" role="alert">Comments</div>
    {% if post.comments %} {% for commentted_by,comment in post.comments.items()
    %}
    <div>
      <div>
        <p class="badge badge-pill badge-primary">{{ comment['id'] }}</p>
        {{ comment['comment'] }}
      </div>
    </div>

    {% endfor %} {% endif %}
    <form action="/posts/comment/{{post.id}}" method="POST">
      <div class="form-group"></div>
      <input
        type="text"
        name="comment"
        id="comment"
        class="form-control"
        aria-label="comment"
      />
      <div class="input-group-append">
        <button
          href="/posts/comment/{{post.id}}"
          class="btn btn-outline-secondary"
        >
          Add Comment
        </button>
      </div>
    </form>
    <form method="post" action="/posts/like/{{post.id}}">
      <input type="submit" value="Like" name="like"/>
    </form>
  </div>
  {% endfor %} {% endblock %}
</div>